@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
	
	--water:#d1f7ff;
	--eblue:#05d9e8;
	--oldblue:#005678;
	--deepblue:#01012b;
	
	--darkgray:#050014;
	--lightgray:#1c1829;

	--emagenta:#ff005b;
	--palepink:#fffaff;
	
	--cursor_a:url(../../assets/cursors/cursor_a.png);
	--cursor_b:url(../../assets/cursors/cursor_b.png);
}



@-webkit-keyframes background_gradiant {
    0%{background-position:25% 50%}
    50%{background-position:75% 50%}
    100%{background-position:25% 50%}
}
@keyframes background_gradiant {
    0%{background-position:25% 50%}
    50%{background-position:75% 50%}
    100%{background-position:25% 50%}
}


@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}


@keyframes slidedown {
  0% {height: 0px; overflow: hidden;}
  99% {height: 40px; overflow: hidden;}
  100% {height: 40px; overflow: visible;}
}


@keyframes openpanel {
    from{height: 100px;}
    to{height: 0px;}
}


@keyframes translateXleft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes softglow{
	from{text-shadow: 0px 0px 4px var(--emagenta);} 
	to {text-shadow: 0px 0px 8px var(--emagenta);}
}

@keyframes blinklight {
    0% {background-color: var(--lightgray);
        filter: drop-shadow(0px 0px 2px var(--lightgray)); }
    1% {background-color: var(--eblue);
        filter: drop-shadow(0px 0px 2px var(--eblue));}
    50% {background-color: var(--eblue);
            filter: drop-shadow(0px 0px 2px var(--eblue));}
    51% {background-color: var(--lightgray);
            filter: drop-shadow(0px 0px 2px var(--lightgray));}
    100% {background-color: var(--lightgray);
        filter: drop-shadow(0px 0px 2px var(--lightgray));}
  }

select:focus {outline:none;}
input:focus {outline:none;}
::-moz-focus-inner {border:none !important;}

::-moz-selection{background-color:#00000000;}
::selection{background-color:#00000000;}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--oldblue);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--oldblue);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--oldblue);
  }

/*HTML------------------------------------------------------------------------------------*/
html{
	
    /*for moz only*/
    overflow:visible;	
	overflow-y: scroll;
	scrollbar-color:  var(--darkgray) var(--emagenta);
	scrollbar-width: thin;

    cursor: var(--cursor_a), auto;
    
    background: linear-gradient(270deg, var(--lightgray),var(--lightgray), var(--emagenta));
    background-size: 600% 600%;
    
    /* height:auto; */
    height:auto;
    
    -webkit-animation: background_gradiant 30s ease infinite;
    animation: background_gradiant 30s ease infinite;
	
}

body::-webkit-scrollbar {
	width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {

	background: var(--emagenta);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: var(--darkgray);    /* color of the scroll thumb */
	border-radius: 0px;       /* roundness of the scroll thumb */
	border-left: 1px solid var(--emagenta);  /* creates padding around scroll thumb */
}


body{
	 	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	scrollbar-color: var(--darkgray) var(--emagenta);
   
    background-image:url("../../assets/images/background_vains.png");
    background-repeat: repeat;
    background-attachment: fixed;

    height:100%;
    margin: 0px;
    padding: 30px 10px 10px 10px;

    color: var(--eblue);
	font-family: 'Orbitron', sans-serif;
    font-size: 20px;
	letter-spacing: 0.1em;
}


h1, h2, h3 , h4, h5, h6{
    margin: 0;
    padding: 0;
	font-weight: normal;
	filter: drop-shadow(0px 0px 6px var(--oldblue));
	
}

p{
    margin: 0;
    padding: 0;
	font-weight: lighter;
	font-size: 16px;
	word-spacing: 0.1em;
}


input, select, textarea{
    color: var(--palepink);
	letter-spacing: 0.2em;
	
    margin-right: 5px;
    font-family : inherit;
        
    border: none;

	background-color: var(--darkgray);
	
	cursor: var(--cursor_b), pointer;
}

input[type="submit" i] {
    appearance: none;
	color: var(--emagenta);
	letter-spacing: normal;
    margin-right: 0px;
    font-family : inherit;
        
	background-color: var(--darkgray);
	cursor: var(--cursor_b), pointer;
}

a{  
    text-decoration: underline;
	letter-spacing: normal;
    color: var(--eblue);
    cursor: var(--cursor_b), pointer;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    
}

th{
    font-weight: 400;
}

td, th{
    padding: 5px; 
}


/*FOOTER---------------------------------------------------------------------------*/
.pc_footer{
	z-index:5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    background-color: var(--darkgray);
    display: inline-block;
}

.pc_footer::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent  transparent var(--lightgray) transparent;
  left: 40px;
  bottom: 0px;
}

.pc_footer::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 20px;
  border-style: solid;
  left: 0;
  bottom: 0px;
}

.footer_blinker{
    z-index: 20;
    position: absolute;
    left: 14px;
    bottom: 7px;
    width: 16px;
    height: 4px;
    background-color: var(--darkgray);
    
}
.footer_blinker_animation{
    animation: blinklight 200ms linear;
}

/*NAVBAR ------------------------------------------------------------------------------*/
.pc_entrance_navbar{
	z-index:5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    min-width: 600px;
    background-color: var(--darkgray);
    display: inline-block;
    overflow:visible;
    border-bottom: 1px solid var(--emagenta);
	filter: drop-shadow(0px 0px 6px #000055);
	
	animation: slidedown 400ms ease-in-out 1 alternate;
}

@media only screen and (min-width: 870px) {
    .pc_entrance_navbar{
        
        overflow: hidden;
    }
   
}

.pc_entrance_navbar::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 40px;
  right: 0;
  top: 0;
  background-color: var(--emagenta); 
}

/*left side*/
.pc_entrance_navbar .pc_navbar_left{
    float: left;
    width: 150px;
    height: 40px;
    display:block;
    overflow: hidden;
}.pc_entrance_navbar .pc_navbar_left:hover{
    overflow: visible;
}
@media only screen and (min-width: 870px) {
    .pc_entrance_navbar .pc_navbar_left{
        width: 410px;
        display: inline-block;
        overflow: hidden;
    }
}    

.pc_nav_menu{
    box-sizing:border-box;
    background-color:var(--emagenta); 
    border:none;
    width: 50px;
    height: 40px;
    padding-top: 6px;
    margin: 0px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' width='40' height='40'%3E%3Crect width='40' height='6'%3E%3C/rect%3E%3Crect y='12' width='40' height='6'%3E%3C/rect%3E%3Crect y='24' width='40' height='6'%3E%3C/rect%3E%3C/svg%3E");
}
@media only screen and (min-width: 870px) {
    .pc_nav_menu{
        float:left;
        display: inline-block;
        content:'';
        width: 10px;
        height: 40px;
    }
}

.pc_nav_button{
    box-sizing:border-box;
    float: left;
    text-decoration: none;
    color: var(--eblue);
    background-color: var(--darkgray);
    width: 150px;
    height: 40px;
    padding: 8px;
	padding-right: 15px;
	padding-left: 15px;
	animation-name: fadein;
    animation-duration: 600ms;
	border-right: 1px solid var(--emagenta);
	border-top: 1px solid var(--emagenta);
	border-left: 5px solid var(--emagenta);
}
.pc_nav_button:hover{
    color: #fff;
    background-color: var(--emagenta);
	transition: 200ms;
}
@media only screen and (min-width: 870px) {
    .pc_nav_button{
        width: auto;
        border: 0px solid var(--emagenta);
        border-left: 1px solid var(--emagenta);
    }
}

.pc_last_nav_button{
    border-bottom: 1px solid var(--emagenta);
}
@media only screen and (min-width: 870px) {
    .pc_last_nav_button{
        border-bottom: 0px solid var(--emagenta);
        border-right: 1px solid var(--emagenta);
    }
}

/*right side*/
.pc_entrance_navbar .pc_navbar_right{
    float: right;
    min-width: 380px;
    display: inline-block;
    overflow: hidden;
}
@media only screen and (min-width: 610px) {
    .pc_entrance_navbar .pc_navbar_right{
        
        min-width: 450px;
        display: inline-block;
        overflow: hidden;
    }
} 

.pc_entrance_navbar .pc_navbar_right a{
    box-sizing:border-box;
    float: right;
	text-decoration: none;
    color: var(--eblue);
    height: 40px;
    padding: 8px;
	padding-right: 15px;
	padding-left: 15px;
	animation-name: fadein;
    animation-duration: 600ms;
}

.pc_entrance_navbar .pc_navbar_right a:hover{
    color: var(--palepink);
    background-color: var(--emagenta);
	transition: 200ms;
}

    /*form*/
.pc_entrance_navbar .pc_navbar_right form{
    float: right;
    padding: 0px 0px 0px 7px;
    animation-duration: 600ms;
}

.pc_entrance_navbar .pc_navbar_right form input{
    border: none;
    outline: var(--eblue) solid 1px;
    margin-top: 12px;
    width:75px; 
}
@media only screen and (min-width: 610px) {
    .pc_entrance_navbar .pc_navbar_right form input{
        width:100px; 
    }
}

	/*submit button*/
.pc_submit_button{
	
	float: right;
	text-decoration: none;
	outline: 0px solid transparent ! important;
	font-size: 20px;
    color: var(--eblue);
    height: 40px;
    padding: 8px 30px 8px 16px;

	animation: softglow 1s linear infinite alternate;
	
}

.pc_submit_button:hover{
    color: var(--palepink);
    background-color: var(--emagenta);
	transition: 200ms;
}




/*INTRO MAP ---------------------------------------------------------------------------*/
.pc_intro_div{
	z-index:1;
	
    width:100%;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    min-height:82vh;
}


.pc_intro_panel{
    padding-top: 40px;
	padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    min-width: 600px;
	height: auto;
	overflow: hidden;
	
	background-image: radial-gradient(var(--lightgray), var(--darkgray));
	border: 1px solid var(--emagenta);
	
	filter: drop-shadow(0px 0px 6px #000055);
    
    
    animation: translateXleft 400ms ease-in-out 1 backwards;
    animation-delay: 200ms;
    
}
.pc_intro_panel:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent var(--emagenta) transparent transparent;
  right: 0;
  top: 0;
}


.pc_expanding_panel{
    padding-top: 40px;
	padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
	height: 0px;
	overflow: hidden;
	
	background-image: radial-gradient(var(--lightgray), var(--darkgray));
	border: 1px solid var(--emagenta);
	
	filter: drop-shadow(0px 0px 6px #000055);
	
	transition: height 2s;
}
.pc_expanding_panel:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent var(--emagenta) transparent transparent;
  right: 0;
  top: 0;
}
.pc_expanding_panel:focus{
	outline:0;
	height: 450px;
}

.pc_intro_text{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
	color: var(--water);
}

.pc_forms_text{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
	color: var(--water);
}

.pc_center{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align:center;
}

.pc_registry{
    width: 500px;
    text-align:left;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pc_form_register input, select, textarea{
 
}

.pc_match{
    width: 400px;
    text-align: left;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.pc_form_match input{
    color: var(--darkbrown);
    border: 0;
    outline: var(--coffeelait) solid 2px;
    margin-right: 0px;
    
    background-color: var(--laitcoffee);
}

.pc_form_line{
    display: table; 
    width: 100%; 
    margin-bottom: 10px;
}

.pc_form_line input{
    box-sizing: border-box; 
    display: table-cell; 
    width: 100%;
}

.pc_form_line label{
    box-sizing: border-box; 
    display: table-cell; 
    width: 200px;
    font-size: 16px;
    color: var(--eblue);
}

.pc_form_register input[type="submit" i] {
    float:right; 
    margin:0; 
    padding:5px 10px 5px 10px;
}
.pc_form_register input[type="submit" i]:hover {
    outline: var(--emagenta);
    color:var(--palepink);
    background-color: var(--emagenta);
}

/*Table-----------------------------------------------------------------------------*/
.pc_intro_table{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.pc_table{
    font-weight: 400;
    font-size: 16px;
    color: var(--water);
   
    border-spacing: 0;
}

.pc_selected{
    padding: 0px;
}
.pc_selected:hover{
    background-color: var(--emagenta);
}
.pc_selected:focus{
    background-color: var(--eblue);
    
    border: 1px solid var(--emagenta);
    color:var(--deepblue);
}

/*color bands for tables and such*/
.pc_evenColor{
    border: 1px solid var(--emagenta);
    background-color: var(--darkgray);
}

.pc_oddColor{
    border: 1px solid var(--emagenta);
    background-color: var(--deepblue);
}

/*SUDO TABLE -------------------------------------------------------------------*/
.pseudo_table{
    display:table;
}
.pseudo_tr{
    display:table-row;
}
.pseudo_tr span{
    display:table-cell;
}

/*SELECT BOX-------------------------------------------------------------------*/

.pc_selectbox{
    font-weight: 400;
    font-size: 16px;
    color: var(--water);
    border:1px solid var(--emagenta);
    border-radius: 0;
    overflow-y: scroll;
	scrollbar-color:  var(--darkgray) var(--emagenta);
	scrollbar-width: thin;
}

.pc_selectbox_item:checked{
    background: var(--emagenta) !important;
    color:var(--deepblue) !important;
    box-shadow: 0 0 10px 100px var(--emagenta) inset;
}


.pc_selectbox::-webkit-scrollbar {
    
    width: 10px;   
  }
.pc_selectbox::-webkit-scrollbar-track {
    border: var(--emagenta);
    background-color: var(--darkgray);
}
.pc_selectbox::-webkit-scrollbar-thumb {
    background-color: var(--emagenta);
    border: 1px solid var(--emagenta);
}


.pc_selectbox_item{
    padding: 5px;
}
.pc_selectbox_item:hover, .pc_selectbox_item:focus{
    color:var(--deepblue);
    background-color: var(--emagenta);
    
}


.pc_selectbox_evenColor{
    background-color: var(--darkgray);
}

.pc_selectbox_oddColor{
    background-color: var(--lightgray);
}

/*STATS BLOCK----------------------------------------------------------------------*/
.pc_stats_panel td{
    padding: 0px;
}

.pc_stats_panel{

    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
    width: 520px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	background:none;
}

.pc_stats_block{
    margin: 10px;
    padding: 5px;
    width: 70px;
	height: 70px;
	overflow: hidden;
	
	background-image: radial-gradient(var(--lightgray), var(--darkgray));
	border: 1px solid var(--emagenta);
	
	filter: drop-shadow(0px 0px 6px #000055);
    
    animation: fadein 400ms ease-in-out 1 backwards;
    animation-delay: 600ms;
}

.pc_stats_block_long{
    width: 100%;
	height: 50px;
}

.pc_stats_block div{
    margin: 0px;
    padding: 0px;
    line-height: 100%;
}

.pc_stats_corner_up{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent var(--emagenta) transparent transparent;
  right: 0;
  top: 0;
}
.pc_stats_corner_up:hover {
    border-color: transparent var(--palepink   ) transparent transparent;
}

.pc_stats_corner_down{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent  var(--eblue) transparent;
    right: 0;
    bottom: 0;
  }
  .pc_stats_corner_down:hover {
    border-color: transparent transparent  var(--palepink   ) transparent;
  }
  
.pc_stats_block_header{
    margin:0;
    margin-left:2px;
    padding: 0;
    color: var(--palepink);
    font-size: 16px;
    font-weight: 600;
}

.pc_stats_block input{
    overflow: hidden;
    background-color: #00000000;
}
.pc_stats_block_label{
    margin:0px;
    padding: 0px;
    color: var(--eblue);
    font-size: 14px;
    letter-spacing: 0.1em;
    
}
.pc_stats_block_value_max{
    min-width: 15px;
    max-width: 45px;
    margin:0px;
    padding: 0px;
    padding-left: 2px;
    color: var(--emagenta);
    font-size: 14px;
    letter-spacing: 0.1em;
}
.pc_stats_block_value{
    display: block;
    width: 65px;
    margin:0px;
    padding: 0px;
    color: var(--emagenta);
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.pc_stats_block_level{
    display: inline-block;
    width: 40px;
    margin:0px;
    padding: 0px;
    color: var(--emagenta);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.1em;
}

